<div class="shop_container">
    <div class="list_view" id="list_view" ng-show="show_list">
        <div class="filters_container">
            <form autocomplete="on" method="post" name="filter" id="filter" >
                <div class="filters_content" ng-repeat="(key, filter) in filters">
                    <label class="filters_title">{{key}}</label>
                    <div class="filters_input" ng-repeat="value in filter">
                        <!-- <div> -->
                        <input class="check" type='checkbox' id="{{key}}" ng-model="value.checked" ng-repeat="name in value" ng-checked="{{name}}"/>
                        <label for='etiquetas' class="etiqueta" ng-repeat="name in value" value='{{name}}'>{{name}}</label>
                        <!-- </div> -->
                    </div>
                </div>
            </form> 
            <div class='filters_input'>
                <input class='filter_button' name='Submit' type='button' id='filter' value='Filter' ng-click='filter_products(filters)'/>
                <input class='remove_button' name='Submit' type='button' id='remove-filters' value='Remove' ng-click='remove_filters()'/>
            </div>
        </div>
        <div class="list_content" id="list_cars">
            <div class="orderby">
                <select id="orderby_select" ng-model="selected_order" ng-change="orderby(selected_order)">
                    <option value="">Order by...</option>
                    <option value="1">From highest to lowest price</option>
                    <option value="2">From lowest to highest price</option>
                </select>
                <input type="button" value="Apply" id="orderby_button" ng-click='orderby_button()'/>
            </div>
            <div class="list_content_2" ng-repeat="car in list">
                <div class="list_car" id='{{car.id}}'>
                    <div class='list_car_desc' id='{{car.id}}' ng-click="load_details()">
                        <div class='img_car'>
                            <img class='list_img' src='http://localhost/Framework_PHP_OO_MVC_AngularJS/frontend/view/images/img_cars/{{car.car_image}}' id='{{car.car_image}}'>
                        </div>
                        <div class='description_car'>
                            <div class='car'>
                                <h2>{{car.brand_name}} {{car.model}}</h2><h2> - </h2><h2 class='price'>{{car.price}}</h2>
                            </div>
                            <h4>{{car.km}} km - {{car.type_name}}</h4>
                            <h4>{{car.color}} - {{car.license_number}} - {{car.car_plate}}</h4>
                        </div>
                    </div>
                    <!-- <div class='list_heart' id='"+ data[row].id +"'><i id='like' class='bx bx-heart'></i></div> -->
                </div>
            </div>
        </div>
        <div class="maps_content" id="maps"></div>
    </div>

    <div class="shop_details" ng-show="show_details">
        <div class="shop_details_content">
            <div class='details_box'>
                <div class='details_content'>
                    <div class='carrusel_details'>
                        <div class="carousel_details_elements">
                            <carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <slide ng-repeat="imgs in images">
                                    <img class='carousel_details_img' src='http://localhost/Framework_PHP_OO_MVC_AngularJS/frontend/{{imgs.image_name}}'>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class='car_details' ng-repeat="car in list">
                        <div class='table_details'>
                            <table class='details_table'>
                                <tr><th class='titles' colspan='2'>{{car.brand_name}}  {{car.model}}</th></tr>
                                <tr><th class='titles' colspan='2'>{{car.price}} €</th></tr>
                                <tr><th class='attributes'>{{car.type_name}}</th><th class='attributes_2'>{{car.km}} km</th></tr>
                                <tr><th class='attributes'>{{car.color}}</th><th class='attributes_2'>{{car.car_plate}}</th></tr>
                            </table>
                        </div>
                        <!-- <div class='like_details'>
                            <div class='list_heart' id='"+ data[0][0].id +"'><i id='like' class='bx bx-heart'></i></div>
                        </div> -->
                    </div>
                </div>
                <div class='back_content'>
                    <div class='back_list'>
                        <div class='back_but' ng-click="back_list()">
                            <i id='back' class='bx bx-x'></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="back_list">
                <div class='list_button' id='list-filters' data-tr='Back' ng-click="back_list()">Back</div>
            </div>
        </div>

        <div id="features-wrapper_2">
            <h1 data-tr="Cars related"></h2>
            <div class="container" id="features-wrapper-container_2">
                <div class="row" id="cat">
                    <div class="more_related_elements" ng-repeat="car in related" id="{{car.id}}">
                        <div class='col-4 col-12-medium'>
                            <section class='box feature'>
                                <div class='related_elements'>
                                    <img class='list_img' src='http://localhost/Framework_PHP_OO_MVC_AngularJS/frontend/view/images/img_cars/{{car.car_image}}'>
                                    <div class='inner'>       
                                        <h2 class='category_title'>{{car.brand_name}} {{car.model}}</h2>
                                    </div>
                                </div>
                                <!-- <div class='like_related'>
                                    <div class='list_heart' id='"+ data[row].id +"'><i id='like' class='bx bx-heart'></i></div>
                                </div> -->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more_related">
            <button class="load_more_button" id="load_more_button" ng-click="load_more()">Load More</button>
        </div>
    </div>
    <div id="pagination" ng-show="show_paginacion">
        <a href="" class="paginacion" ng-click="change_page(current_page - 1)" ng-show="show1">Previous</a>
        <a href="" class="paginacion" ng-repeat="page in pages" ng-click="change_page(page)">{{page}}</a>
        <a href="" class="paginacion" ng-click="change_page(current_page + 1)" ng-show="show2">Next</a>
    </div> 
</div>